DISCORD_TOKEN=MTQ2NTk5OTQ2ODUxMDk3Mzk4Mw.Gz0Vzf.kUy5UdSMlE5spG1ERd_xM5H-FJAxVUOThhGw_w
MONGO_TOKEN=mongodb+srv://deepakpaswan12869_db_user:<db_password>@cluster0.xajpzeg.mongodb.net/?appName=Cluster0
GIPHY_TOKEN=
WEBHOOK_ID=1468462120763920515
WEBHOOK_TOKEN=Wij9DG1MxLWVkBVm8JkB9OEsW_b-R-1yGqvstgaMZ860ha3LXQFGlN9ltRLQ8SuHn7sE
DISCORD_ID=1458417786220183716

# Not neccessary variables
# Wondering how to get these? Check out https://github.com/CorwinDev/Discord-Bot#requirements
DISCORD_STATUS="Listening to meself, I'm a stupid bot, https://github.com/corwindev/discord-bot"
RADIO=
TOPGG_TOKEN=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
LAVALINK_HOST=lava.link
LAVALINK_PASSWORD=I'm a secret
LAVALINK_PORT=80
LAVALINK_SECURE=false
OPENAI= 
